
.back{
    padding-top:20px;
    background-image: url(imgs/details-bg.png);
    background-repeat: no-repeat;
    background-size:cover ;
    padding-bottom: 20px;
}
.back p{
    padding:15px;
    color:#fff;
    text-align: center;
    font-size: 150%;
    font-weight: 300;
}
.section-head:after{
    display: none;
}

.vertical-line {
    border-right: 5px solid #3AADE6;
    height: 50px;
    margin-bottom: 15px;
    margin-right:10px;

    
}
.vertical-line h2{
    float: right;
    padding-right: 1rem;
    font-size: 180%;
    font-weight: 400;
}




/* -------------- Curosel ----------------- */

  
  .card-carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 0px;
    overflow: hidden;
  }
  
  .card-carousel .my-card {
    width: auto;
    left: -100px;
    position: relative;
    z-index: 1;
    -webkit-transform: scale(0.6) translateY(-2rem);
    transform: scale(0.6) translateY(-2rem);
    opacity: 0;
    cursor: pointer;
    pointer-events: none;
    transition: 1s;
    margin:0 -100px;
  }
  
  .card-carousel .my-card:after {
    content: '';
    position: absolute;
    height: 5px;
    width: 100%;
    border-radius: 100%;
    background-color: rgba(0,0,0,0.3);
    bottom: -5rem;
    -webkit-filter: blur(4px);
    filter: blur(4px);
  }
  
  .card-carousel .my-card:nth-child(0):before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: 3rem;
    font-weight: 300;
    color: #fff;

  }
  
  .card-carousel .my-card:nth-child(1):before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: 3rem;
    font-weight: 300;
    color: #fff;

  }
  
  .card-carousel .my-card:nth-child(2):before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: 3rem;
    font-weight: 300;
    color: #fff;

  }
  
  .card-carousel .my-card:nth-child(3):before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: 3rem;
    font-weight: 300;
    color: #fff;

  }
  
  .card-carousel .my-card:nth-child(4):before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: 3rem;
    font-weight: 300;
    color: #fff;

  }
  
  .card-carousel .my-card:nth-child(5):before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: 3rem;
    font-weight: 300;
    color: #fff;

  }
  
  .card-carousel .my-card:nth-child(6):before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: 3rem;
    font-weight: 300;
    color: #fff;

  }
  
  .card-carousel .my-card:nth-child(7):before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: 3rem;
    font-weight: 300;
    color: #fff;

  }
  
  .card-carousel .my-card:nth-child(8):before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: 3rem;
    font-weight: 300;
    color: #fff;

  }
  
  .card-carousel .my-card:nth-child(9):before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: 3rem;
    font-weight: 300;
    color: #fff;

  }
  
  .card-carousel .my-card.active {
    z-index: 3;
    -webkit-transform: scale(1) translateY(0) translateX(0);
    transform: scale(1) translateY(0) translateX(0);
    opacity: 1;
    pointer-events: auto;
    transition: 1s;

  }
  
  .card-carousel .my-card.prev, .card-carousel .my-card.next {
    z-index: 2;
    -webkit-transform: scale(0.8) translateY(-1rem) translateX(0);
    transform: scale(0.8) translateY(-1rem) translateX(0);
    opacity: 0.6;
    pointer-events: auto;
    transition: 1s;

  }

  /* -------- carousel controls ------- */
  #next-project, #prev-project {
    cursor: pointer;
    /* margin-left:5px; */
    margin: 5px;
}


kbd {
  /* padding: .2rem .4rem; */
  font-size: 4vw;
  font-weight: 900;
  line-height: 1.5;
  color: #fff;
  background-color: #212529;
  border-radius: .2rem;
  font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  direction: ltr;
  unicode-bidi: bidi-override;
}
#next-project{
  width: 23.16px;
}